<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h2 >Cadastre-se</h2>
        <form method="POST">
            <div class="half-box">
                <label for="username" class="Nome">Nome</label>
                <input type="text" class="half-box" id="username" name="username" placeholder="Digite seu nome">
            </div>
            <div class="half-box">
                <label for="lastusername">Sobrenome</label>
                <input type="text" class="half-box" id="lastusername" name="lastusername" placeholder="Digite seu sobrenome">
            </div>
            <div class="half-box">
                <label>Usuário</label>
                <input type="text" class="half-box" id="makeuser" name="makeuser" placeholder="Crie um nome de usuário">
            </div>
            <div class="half-box"> 
                <label>Senha</label>
                <input type="password" class="half-box" name="password" id="password" placeholder="Crie uma senha">
            </div>
            <div class="half-box"> 
                <label>Confirme a senha</label>
                <input type="password" class="half-box" name="password2" id="password2" placeholder="Digite novamente a senha">
            </div>
            <div class="half-box"> 
                <label>Email</label>
                <input type="email" class="half-box" name="email" id="email" placeholder="Coloque um email válido">
            </div>
            <div class="full-box">
                <label for="agreement"id="agreement">Eu li e aceito <a href=""> os termos de uso </a></label>
                <input type="checkbox" name="agreement" id="agreement">
            </div>
            <div class="full-box">
                <input type="submit" name="Btn-Cadastro" id="Btn-Cadastro" class="Btn-Cadastro"></input>
            </div>
        </form>
    </div>
</body>
</html>